<div class="card" [class.card--static]="!interactive()" (click)="onClick()">

  <div class="card__image-wrapper">
    <img class="card__image" [src]="card().imageUrl" [alt]="card().title" loading="lazy" />

    @if (showFavorite()) {
      <button class="card__favorite" [class.card__favorite--active]="favorite()" (click)="toggleFavorite($event)"
        aria-label="Añadir a favoritos">
        <span class="material-symbols-outlined">
          {{ heartIcon() }}
        </span>
      </button>
    }
  </div>

  <div class="card__info">
    <div class="card__text">
      <h3 class="card__title">{{ card().title }}</h3>
      <p class="card__subtitle">{{ card().subtitle }}</p>
    </div>
    @if (card().rating > 0) {
      <div class="card__rating">
        <span class="material-symbols-outlined card__rating-star">star</span>
        <span class="card__rating-value">{{ ratingLabel() }}</span>
      </div>
    }
  </div>

</div>
