<header class="header" [class.header--scrolled]="scrolled()">
  <div class="header__container">

    <a class="header__logo" [routerLink]="authService.isAdmin() ? '/admin' : '/home'" [attr.aria-label]="'nav.accommodations' | translate">
      <img src="/images/logotipo-roomify.png" alt="Roomify" class="logo-img">
    </a>

    <nav class="header__actions">

      @if (!authService.isAdmin()) {
      <a class="header__nav-link" routerLink="/rooms">
        <span class="material-symbols-outlined">home</span>
        <span class="header__nav-label">{{ 'nav.accommodations' | translate }}</span>
      </a>
      }

      <!-- Icono usuario -->
      <button class="header__icon-btn header__icon-btn--profile" mat-icon-button [matMenuTriggerFor]="userMenu"
        [attr.aria-label]="'nav.userMenu' | translate">
        <span class="material-symbols-outlined menu-icon">person</span>
      </button>

      <mat-menu #userMenu="matMenu" class="header-menu">
        @if (authService.isLoggedIn()) {
        <div class="menu-user-name">
          <span class="material-symbols-outlined">account_circle</span>
          <span>{{ authService.userName() }}</span>
        </div>
        <mat-divider />
        <button mat-menu-item (click)="goToProfile()">
          <span class="material-symbols-outlined">manage_accounts</span>
          <span>{{ 'nav.profile' | translate }}</span>
        </button>
        <mat-divider />
        <button mat-menu-item (click)="logout()">
          <span class="material-symbols-outlined">logout</span>
          <span>{{ 'nav.logout' | translate }}</span>
        </button>
        } @else {
        <button mat-menu-item routerLink="/login">
          <span class="material-symbols-outlined">login</span>
          <span>{{ 'nav.login' | translate }}</span>
        </button>
        }
      </mat-menu>

      <!-- Icono menú -->
      <button class="header__icon-btn header__icon-btn--menu" mat-icon-button [matMenuTriggerFor]="navMenu"
        [attr.aria-label]="'nav.userMenu' | translate">
        <span class="material-symbols-outlined menu-icon">menu</span>
      </button>

      <mat-menu #navMenu="matMenu" class="header-menu">
        @if (!authService.isAdmin()) {
        <button mat-menu-item (click)="goToReservations()">
          <span class="material-symbols-outlined">calendar_month</span>
          <span>{{ 'nav.bookings' | translate }}</span>
        </button>
        }

        @if (authService.isAdmin()) {
        <button mat-menu-item (click)="goToAdmin()">
          <span class="material-symbols-outlined">admin_panel_settings</span>
          <span>{{ 'nav.admin' | translate }}</span>
        </button>
        }
      </mat-menu>

    </nav>
  </div>
</header>
